@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  width: 100vw;
  height: 100vh;
}

/* menu */
.menu {
  padding: 2rem 0;
}

.login-menu {
  display: flex;
  justify-content: end;
  align-items: center;
}
.login-menu p {
  text-decoration: none;
  color: #c59d5f;
  font-weight: bold;
  font-size: 1rem;
}
.login-btn {
  margin-top: 1rem;
  text-align: right;
  color: #c59d5f;
}
#logout {
  text-decoration: none;
  font-weight: bold;
}
.login-btn button {
  font-size: 10px;
}
.login-btn a {
  padding-top: 10px;
  text-decoration: none;
  color: #c59d5f;
  font-weight: bold;
}
.login-btn a:hover {
  letter-spacing: 1px;
  color: #fff;
}
.first-title {
  text-align: center;
  font-size: 2rem;
  color: hsl(209, 61%, 16%);
}
.underline {
  width: 5rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto;
}
.second-title h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: #c59d5f;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  padding: 0.375rem 0.75rem;
  color: #c59d5f;
  cursor: pointer;
  transition: all 0.3s linear;
}
.filter-btn:hover {
  background: #c59d5f;
  color: #fff;
}
.section-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.menu-item {
  margin-left: 10px;
  margin-right: 10px;
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 400px;
  border: 0.25rem solid #c59d5f;
  border-radius: 0.5rem;
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted hsl(210, 22%, 49%);
}
.item-info h4 {
  margin-bottom: 0.5rem;
  font-size: 20px;
  font-weight: bold;
}
.price {
  color: #c59d5f;
}
.item-info a {
  text-decoration: none;
  /* background-color: #c59d5f; */
  padding: 8px 10px;
  width: fit-content;
  transition: 0.5s;
  border-radius: 0.5rem;
  color: black;
}
.item-info a:hover {
  letter-spacing: 1px;
  color: #fff;
}

.fa-solid {
  color: #c59d5f;
}

.fa-solid:hover {
  color: #fff;
}

.item-text {
  margin-bottom: 40px;
  padding-top: 1rem;
  font-weight: bold;
  font-size: 14px;
}
.rediriger {
  font-size: .70rem;
  color: #03A64A;
}
.message {
  text-align: center;
  border-radius: 10px;
  font-size: .90rem;
  height: 30px;
  padding: 5px;
}
.success {
  color: #03A64A;
  border: 1px solid #04BF8A;
}
.error {
  color: #F27405;
  border: 1px solid #F23005;
}
.hide {
  display: none;
}

@media screen and (max-width: 938px) {
  .section-center {
    display: flex;
    flex-direction: column;
  }
  .first-title {
    font-size: 1rem;
  }
  .second-title h2 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 508px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr;
  }
  .first-title {
    font-size: 1rem;
  }
  .second-title h2 {
    font-size: 1rem;
  }
  .photo {
    object-fit: cover;
    height: 100px;
    width: 200px;
    border: 0.25rem solid #c59d5f;
    border-radius: 0.5rem;
  }
  .btn-container {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-btn {
  margin-bottom: 5px;
}
}

.rediriger {
  font-size: .70rem;
  color: #03A64A;
}

.message {
  text-align: center;
  border-radius: 10px;
  font-size: .90rem;
  height: 30px;
  padding: 5px;
}

.success {
  color: #03A64A;
  border: 1px solid #04BF8A;
}

.error {
  color: #F27405;
  border: 1px solid #F23005;
}
